  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    overflow-y: hidden; 
     
  } 

 body{
    background-color: hsl(217, 54%, 11%) ;

 }

 .card{
    background-color:hsl(216, 50%, 16%);
    width: 90%;
    max-width: 350px;
    margin: 30px auto 20px;
    border-radius: 10px;
 }

 .card img{

    margin-left: 0px;
    border-radius: 10px;
   
 }

 .content{
    padding: 25px;
 }

 .content h2{
    color:hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
 }

 .content p{
    color:hsl(215, 51%, 70%) ;
    font-size: 18px;
    font-weight: 300;

 }
 .ethereum{
    display: flex;
    padding: 5px;
 }
 .ethereum img{
    width: 20px;
    height: 25px;
 }
 .ethereum p{
    padding:5px ;
    color:hsl(178, 100%, 50%) ;
    font-size: 18px;
    font-weight: 600;
 }

 .clock{
    display: flex;
    padding: 10px;
 }

 .clock p {
    padding: 5px;
    color:hsl(215, 51%, 70%) ;
    font-size: 18px;
    font-weight: 400;
 }
 .clock img{
    height: 25px;
 }

 .value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    width: 90%;
    margin-left: 15px;
    
    
 }

 .credit{
   display: flex; 
   padding: 20px;
 }

 .credit p{
   
    padding-left: 10px;

}
 
 .credit img{

    border: 1px solid hsl(0, 0%, 100%);
 }
 
 